<ion-header>
  <ion-toolbar color="ligth"> 
    <ion-buttons slot="start" (click)="goto_tabhome()" style="width: 4rem;">
      <ion-icon name="home" style="margin-left: 6px; font-size: 25px;" > </ion-icon> 
    </ion-buttons>
    <ion-buttons slot="primary" style="width: 4rem; ">
      <ion-button style="margin-left: 1rem;font-size: 20px;" >
        <ion-icon  name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-size: 20px; font-weight: 900; text-align: center;" (click)="goto_tabhome()" >HUAYVIP1688</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
 <div style="padding-left: 0px;padding-right: 0px;  height: 100%; margin: 0px; overflow: visible; "  *ngIf="image_lucky" >

 <img src="https://www.huayvip1688.com/assets/img-lucky/{{image_lucky}}" alt="" style="width:100%; height: 100%;  position: absolute; z-index: 1;">
 <img src="assets/img/hand.png"  (click)="random_num()"  class="hand" style=" transform: rotate(-50deg); width: 30rem; height: auto;  position: absolute;bottom: 0px; z-index: 3; left: -150px;">
<p style="color: white;position: absolute;bottom: 0px; z-index: 3;font-size: 30px;right: 20px;">"แตะที่มือเพื่อเริ่ม"</p>
<p class="num" style="color: brown; font-size: 30px; position: absolute;top: 5rem; z-index: 2;left: 60px;">{{r_num1}}</p>
<p class="num" style="color: brown; font-size: 30px; position: absolute;top: 5rem; z-index: 2;right: 60px;">{{r_num2}}</p>
<p class="num" style="color: brown; font-size: 30px; position: absolute;top: 15rem; z-index: 2;left: 150px;">{{r_num3}}</p>

<div class="div-center"  *ngIf="r_num3 != null">
  <p style="margin: 0;font-size: 25px;color: white;"> กรอกเลขที่ขูดได้<br> แล้วไปเทียบกับสำนักดัง</p>
 <input type="text" style="background-color: white; border-radius: 5px; width: 80%; font-size: 50px;text-align: center;color: red;margin-top: 10px;"  (keyup)="input_number($event)" >
<button  class="btn-goto" (click)="goto_detail()" >ค้นหา </button>

</div>
</div>
</ion-content>
