.btn-head{
  background-color: rgb(173, 0, 0);
  box-shadow: rgb(158, 158, 158) 2px 2px 5px;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  color : white;
  width: 90%;
  outline: none;
}

.col-even{
  background-color: rgb(241, 241, 241);
}

.col-odd{
  background-color: rgb(255, 255, 255);
}