<ion-header>
  <ion-toolbar color="ligth"> 
    <ion-buttons slot="start" (click)="goto_tabhome()" style="width: 4rem;">
      <ion-icon name="home" style="margin-left: 6px; font-size: 25px;" > </ion-icon> 
    </ion-buttons>
    <ion-buttons slot="primary" style="width: 4rem; ">
      <ion-button style="margin-left: 1rem;font-size: 20px;" >
        <ion-icon  name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-size: 20px; font-weight: 900; text-align: center;" (click)="goto_tabhome()" >HUAYVIP1688</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div  style="padding-left: 0px;padding-right: 0px; padding-top: 10px;"  *ngIf="famous_number_data">
    <div style="padding-left:10px ; padding-right: 10px; margin-bottom: 10px;" >
      <ion-grid>
        <ion-row>
          <ion-col size="7"> <ion-input (keyup)="get_famous_number_by_name($event)" placeholder="ชื่อสำนัก"  style="box-shadow: #a7a7a7 2px 2px 5px; border-radius: 5px; height: 35px; width: 100%; "  > <ion-icon style="margin-left: 10px;margin-right: 10px; font-size: 20px; color: #727272 ;" name="search"></ion-icon> </ion-input></ion-col>
          <ion-col size="5"> <ion-input (change)="get_famous_number_by_date($event)"  type="date" style="box-shadow: #a7a7a7 2px 2px 5px; border-radius: 5px;  color:#313131 ; height: 35px; " ><ion-icon name="calendar" style="margin-left: 10px;margin-right: 10px; font-size: 20px; color: #727272 ;"></ion-icon></ion-input></ion-col>
        </ion-row>
      </ion-grid>
    
    </div>
    <p *ngIf="famous_number_data.length == 0" style="text-align: center; color: teal;">ไม่มีผลลัพธ์ <br>"โปรดใช้คีย์เวิร์ดอื่นในการค้นหา"</p>
    <ion-grid style="padding:0px 5px;" >
      <ion-row  *ngFor="let x of famous_number_data" style="margin-bottom:10px ;">
        <ion-col size="12" class="fh-name">
          <p style="margin: 0px; float: left;">{{x.fn_name}}</p>
          <button class="btn-detail" (click)="goto_detail(x)"> รายละเอียด</button>
        </ion-col>
        <ion-col size="12" class="fh-date"> 
          {{x.fn_date | dateFormat}}
        </ion-col>
        <ion-col size="6" class="fh-data">เด็ด <p style="white-space: nowrap;text-overflow: ellipsis;">{{x.fn_ded}}</p></ion-col>
        <ion-col size="6" class="fh-data" >3ตัว <p style="white-space: nowrap ; overflow: hidden; text-overflow: ellipsis;">{{x.fn_top3}}</p></ion-col>
        <ion-col size="12" class="fh-data">2ตัวบน <p style="color: rgb(51, 51, 51);">{{x.fn_top2}}</p></ion-col>
        <ion-col size="12" class="fh-data">2ตัวล่าง <p style="color: rgb(51, 51, 51);">{{x.fn_bot2}}</p></ion-col>
      </ion-row>
    </ion-grid>
   
  </div>
</ion-content>
