<ion-header>
  <ion-toolbar color="ligth"> 
    <ion-buttons slot="start" (click)="goto_tabhome()" style="width: 4rem;">
      <ion-icon name="home" style="margin-left: 6px; font-size: 25px;" > </ion-icon> 
    </ion-buttons>
    <ion-buttons slot="primary" style="width: 4rem; ">
      <ion-button style="margin-left: 1rem;font-size: 20px;" >
        <ion-icon  name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="font-size: 20px; font-weight: 900; text-align: center;" (click)="goto_tabhome()" >HUAYVIP1688</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  (swipe)="swipeEvent($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="center" horizontal="end" slot="fixed" [ngStyle]="{'display':display_icon_grid1}">
    <ion-fab-button (click)="change_grid1()">
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="end" slot="fixed" [ngStyle]="{'display':display_icon_grid2}">
    <ion-fab-button (click)="change_grid2()">
      <ion-icon name="browsers"></ion-icon>
    </ion-fab-button>
  </ion-fab>


    <div style="padding-left: 0px;padding-right: 0px; padding-top: 10px;"  *ngIf="data_baihuay">

      
      

      <div style="padding-left:10px ; padding-right: 10px;">
        <ion-grid>
          <ion-row>
            <ion-col size="7"> <ion-input placeholder="ชื่อสำนัก"  style="box-shadow: #a7a7a7 2px 2px 5px; border-radius: 5px; height: 35px; width: 100%; " (keyup)="get_data_baihuay_by_name($event)" > <ion-icon style="margin-left: 10px;margin-right: 10px; font-size: 20px; color: #727272 ;" name="search"></ion-icon> </ion-input></ion-col>
            <ion-col size="5"> <ion-input  type="date" style="box-shadow: #a7a7a7 2px 2px 5px; border-radius: 5px;  color:#313131 ; height: 35px; " (change)="get_data_baihuay_by_date($event)" ><ion-icon name="calendar" style="margin-left: 10px;margin-right: 10px; font-size: 20px; color: #727272 ;"></ion-icon></ion-input></ion-col>
          </ion-row>
        </ion-grid>
       
        
       
      </div>
     
    <ion-grid style="padding:0px">
      <ion-row>
        <ion-col *ngFor="let x of data_baihuay" size="{{grid_col}}" style="padding-top: 0px ; padding-bottom: 0px;">
          <ion-card >
            <ion-card-header style="padding: 5px 5px 5px 5px;  background-color: rgb(173, 0, 0);" >
              <ion-card-title  [ngStyle]="{'font-size':font_title}" style=" color: white;padding-left: 5px;">{{x.bh_name}}</ion-card-title>
              <ion-card-subtitle [ngStyle]="{'font-size':font_subtitle}" style=" color: white; margin-top: 3px; padding-left: 5px;">งวดที่ : {{x.bh_date | dateFormat}}</ion-card-subtitle>
    
            </ion-card-header>
          
            <ion-card-content style="padding-left: 0px; padding-right: 0px; padding-bottom: 0px; margin: 0px; text-align: center;" [ngStyle]="{'height':img_h , 'width':img_w}"  *ngIf="x.bh_url">
              
              <img-loader src="{{x.bh_url}}" class="circle-photo"   (click)="goto_detail(x)" useImg ></img-loader>
            
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    </div>

 


</ion-content>
